<h1> <%= @artist.name %> </h1>

<ul>
  <li>Name: <%= @artist.name %> </li>
  <li>Id: <%= @artist.id %> </li>
  <li>Created At: <%= @artist.created_at %> </li>
  <li>Updated At: <%= @artist.updated_at %> </li>
</ul>
